.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 11vw; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 10px; /* Stay at the top */
  left: 0;
  background-color: rgb(28, 27, 27); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 80px;
}

/* The navigation menu links */
.sidenav a {
  padding: 1vh;
  text-decoration: none;
  font-size: 1.75vh;
  color: #f3f3f3;
  display: block;
  display: inline-block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidebar {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    height: 80px;
    display: flex;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 9;
    justify-content: space-evenly;
  }
  
  .sidebar-container {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 80px;
    max-width: 100%;
  }
  
  .sidebar-logo {
    color: #fff;
    justify-self: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: inline-block;
    vertical-align: middle;
  }
  
  .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  }
  
  .nav-menu {
    display: grid;
    padding-right: 1.5%;
    grid-gap: 2vw;
    list-style: none;
    text-align: center;
    width: 30vw;
    justify-content: right;
  }

  .nav-item {
    height: 80px;
    display: grid;
  }
  
  .nav-links {
    color: #fff;
    display: grid;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  
  .nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 1050px) {
    .SidebarItems {
      position: relative;
    }
  
    .sidebar-logo {
      margin-right: 40vw;
    }
  }
  .css-tzssek-MuiSvgIcon-root {
    color: #f3f3f3
  }

  button {
    background-color: transparent;
    border: hidden;
  }

  button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-colorInherit.MuiIconButton-edgeStart.MuiIconButton-sizeMedium.css-1d6w9lk-MuiButtonBase-root-MuiIconButton-root {
    justify-content: center;
  }

  ul {list-style: none} 
  li {display: block;
  padding: 0.25vw;}

  svg { color: #f3f3f3; }



/* ---------------------------------------------- */


  /* Fixed sidenav, full height */
.sidenav {
  --sidenav-width: 15vw;
  --background-color: #1B1A1A;
  height: 100%;
  width: var(--sidenav-width);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  overflow-x: hidden;
  padding-top: 80px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: var(--sidenav-width);
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #79A1FF;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down, .fa-caret-right {
  float: right;
  padding-right: 8px;
}
